<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script type="text/javascript">
    
    var maximumLength = <%= (@samples.length > 10 ? 10 : @samples.length - 1)%>;
    function loadCahrt() {
	    $(function () {
        $('#container-2').highcharts({
            chart: {
                zoomType: 'xy'
            },
            title: {
                text: 'Industry control'
            },
            subtitle: {
                text: 'Evolution of average salt iodisation: overtime'
            },
            xAxis: [{
                categories: seriesCategories,

                min: 0,
                max: maximumLength,
                labels: {
                    rotation: -45,
                    style: {
                        fontSize: '13px'
                    }
                }
            }],
            scrollbar: {
                enabled: true
            },
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '',
                    style: {
                        color: '#89A54E'
                    }
                },
                title: {
                    text: '',
                    style: {
                        color: '#89A54E'
                    }
                }
            }, { // Secondary yAxis
                title: {
                    text: '',
                    style: {
                        color: '#4572A7'
                    }
                },
                labels: {
                    format: '',
                    style: {
                        color: '#4572A7'
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                borderColor: '#CCC',
                borderWidth: 1,
                shadow: false
            },credits:{ enabled: false},
            series: [{
                name: 'Avg',
                color: '#4572A7',
                type: 'column',
                yAxis: 1,
                pointWidth: 28,
                data: averages ,
                tooltip: {
                    valueSuffix: ''
                }
    
            },
                {
                name: 'Samples',
                color: '#89A54E',
                type: 'spline',
                data: samples ,
                tooltip: {
                    valueSuffix: ''
                }
            }]
        });
    });
    
  }

  var seriesCategories = [];
  var seriesData = [];
  var averages = [];
  var samples = [];

  function getSeriesData() {                                                    
    <%(@samples || {}).sort_by { |k, v| v[:date] }.each do |quarter,values| %>                                 
      averages.push(parseFloat("<%=values[:avg]%>"));
      samples.push(parseFloat("<%=values[:num_of_samples]%>"));
    <%end%>                                                                     
  }                                                                             
                                                                                
  function getSeriesCategories() {                                              
    <%(@samples || {}).sort_by { |k, v| v[:date] }.each do |quarter,values| %>                                 
      seriesCategories.push("<%=quarter%>")                                        
    <%end%>                                                                     
  } 

  getSeriesCategories();
  getSeriesData();
  loadCahrt();
    

		</script>
	</head>
	<body>

  <div id="container-2" style="min-width: 400px;height: 400px; margin: 0 auto"></div>

	</body>
</html>

