<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>samples <small>....</small></h1>
</div>

<section id='modals'>                                              
  <p>                                                                           
    <%= link_to "Find sample details", '/searchsample', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Enter sample details", '/newsample', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
</section> 
