<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>samples <small>raw data</small></h1>
</div>

<section id='modals'>                                              

  <p>                                                                           
    <%= link_to "Import", '/prod', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Industry", '/industry', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Market", '/mark', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
</section> 
