<style>                                                                         
  .buttons {                                                                    
    width: 100% !important;                                                     
  }                                                                             
</style>                                                                        
                                                                                
<div class="page-header">                                                       
  <h1>industry <small>salt industry control</small></h1>                                      
</div>                                                                          
                                                                                
<section id='modals'>
  <p>
  <%= link_to "sample details (entered)",     
      '/find_raw_data_quality_monitoring',:class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Enter sample details", '/industry_datagrid', 
        :class => 'btn btn-primary btn-large buttons' %>                        
  </p>             

</section>                                    
