<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>transporters/packers <small>....</small></h1>
</div>

<section id='modals'>                                              
  <p>                                                                           
    <%= link_to "Find transporter(s)", '/findtransporter', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Register transporter/packer", '/newtransporter', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
</section> 
