production:
  adapter: mysql2
  username: user
  database: xstandards_db
  password: your_password
  host: localhost
  pool: 500

development:
  adapter: mysql2
  username: root
  database: xstandards_db
  password: your_password
  host: localhost
  pool: 500

test: &TEST
  adapter: mysql
  database: root
  username: xstandards_db
  password: your_password
  host: localhost

