<style>
  .buttons {                                                                    
    width: 100% !important;                                                    
  }                                                                              
</style>

<div class="page-header">
  <h1>reports <small>....</small></h1>
</div>

<section id='modals'>                                              
  <p>                                                                           
    <%= link_to "Import level", '/production', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Industry level", '#', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
  <p>                                                                           
    <%= link_to "Market level", '/market', 
        :class => 'btn btn-primary btn-large buttons' %>
  </p>                                                                          
                                                                                
                                                                                
</section> 
