<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>

		<script type="text/javascript">
    
     var chart_length = parseInt("<%= @samples.length * 80%>");		

    function loadCahrt() {
	    $(function () {
        $('#container-2').highcharts({
            chart: {
              zoomType: 'xy',
              width: chart_length
            },
            title: {
                text: 'Market control'
            },
            subtitle: {
                text: 'Evolution of average salt iodisation level (ppm)'
            },
            xAxis: [{
              categories: seriesCategories,
              labels: {
                rotation: -45,
                align: 'right'
              }

            }],
            yAxis: [{ // Primary yAxis
                labels: {
                    format: '',
                    style: {
                        color: '#89A54E'
                    }
                },
                title: {
                    text: '',
                    style: {
                        color: '#89A54E'
                    }
                }
            }, { // Secondary yAxis
                title: {
                    text: '',
                    style: {
                        color: '#4572A7'
                    }
                },
                labels: {
                    format: '',
                    style: {
                        color: '#4572A7'
                    }
                },
                opposite: true
            }],
            tooltip: {
                shared: true
            },
            legend: {
                layout: 'vertical',
                align: 'left',
                x: 120,
                verticalAlign: 'top',
                y: 100,
                floating: true,
                backgroundColor: '#FFFFFF'
            },
            series: [{
                name: 'Avg',
                color: '#4572A7',
                type: 'column',
                yAxis: 1,
                data: averages ,
                tooltip: {
                    valueSuffix: ''
                }
    
            }, {
                name: 'Samples',
                color: '#89A54E',
                type: 'spline',
                data: samples ,
                tooltip: {
                    valueSuffix: ''
                }
            }]
        });
    });
    
  }

  var seriesCategories = [];
  var seriesData = [];
  var averages = [];
  var samples = [];

  function getSeriesData() {                                                    
    <%(@samples || {}).sort_by { |k, v| v[:date] }.each do |quarter,values| %>                                 
      averages.push(parseFloat("<%=values[:avg]%>"));
      samples.push(parseFloat("<%=values[:num_of_samples]%>"));
    <%end%>                                                                     
  }                                                                             
                                                                                
  function getSeriesCategories() {                                              
    <%(@samples || {}).sort_by { |k, v| v[:date] }.each do |quarter,values| %>                                 
      seriesCategories.push("<%=quarter%>")                                        
    <%end%>                                                                     
  } 

  getSeriesCategories();
  getSeriesData();
  loadCahrt();
    

		</script>
	</head>
	<body>

<div id="cahrt-container" style="overflow:auto; width: 600px;">
  <div id="container-2" style="height: 400px; margin: 0 auto;"></div>
</div>

	</body>
</html>

